services:
  # Scraper Service
  scraper:
    build: ./backend
    container_name: django_scraper
    restart: always
    env_file: .env
    command: python manage.py run_scraper
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  # PostgreSQL Database
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file: .env
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  # Backend (Django) with Tailwind hot-reload
  backend:
    build: ./backend
    container_name: django_backend
    restart: unless-stopped
    env_file: .env
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network
  # Tailwind service is no longer needed - now integrated with backend via 'tailwind runserver'
  tailwind:
    build: ./backend
    container_name: django_tailwind
    tty: true
    stdin_open: true
    command: .django_tailwind_cli/tailwindcss-extra-linux-x64-2.7.5 -i ./css/input.css -o ./static/css/style.css --watch
    volumes:
      - ./backend:/app
    networks:
      - app_network

volumes:
  postgres_data:


networks:
  app_network:
    driver: bridge
